.navbar{
    color:black;
    text-align: center;
      min-height: 2vh;
  display: flex;
  justify-content: center;
}
.socialspan{
    font-size: 40px;
    color:black;
}
.feedspan{
    font-size: 40px;
    color:gray;
    
}