.postwindow {
    border-color: black;
    border-radius: 10px;
    
    padding-left: 10%;
    padding-right: 10%;
}
table{ 
    padding-top: 25px;
    padding-bottom: 45px;
    width: 60%;
}
td{
padding: 10px;
text-align: center;
border: 1px solid black;
}
tr:hover {background-color: rgb(218, 215, 82);}
.tablerow{
    border-color: black;
    border: 4px;
}
